html, body {
    margin: 0;
    padding: 0;
    font-family:"Open Sans Hebrew","sans-serif";
}
*, *::before, *::after {
    direction: rtl;
}
body{
    background-color: #233434;
}
input, button, textarea, select, option {
    outline: none;
}
button{
    background-color: transparent;
}
h1{
    color: #F0EFEB;
    margin: 0;
    padding: 0;
}
h2{
    padding: 0;
    margin: 0;
    color: #F0EFEB;
}
p{
    padding: 0;
    margin: 0;
    color: #F0EFEB;
}
ul,ol{
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: #D8AC7A;
}
@font-face {
    font-family: 'Open Sans Hebrew';
    src: url('fonts/OpenSansHebrew-Regular.eot');
    src: url('fonts/OpenSansHebrew-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/OpenSansHebrew-Regular.woff2') format('woff2'),
    url('fonts/OpenSansHebrew-Regular.woff') format('woff'),
    url('fonts/OpenSansHebrew-Regular.ttf') format('truetype');
url('OpenSansHebrew-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Hebrew';
    src: url('fonts/OpenSansHebrew-Bold.eot');
    src: url('fonts/OpenSansHebrew-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/OpenSansHebrew-Bold.woff2') format('woff2'),
    url('fonts/OpenSansHebrew-Bold.woff') format('woff'),
    url('fonts/OpenSansHebrew-Bold.ttf') format('truetype');
url('OpenSansHebrew-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}


/*  REDEMPTION ESTATE -------------------------------------------*/
.redemption-estate {
    height: 530px;
    display: flex;
    justify-content: center;
    background: url("img/estate.png") no-repeat;
    background-size: cover;
}
.estate-redemption {
    width: 100%;
    max-width: 730px;
    text-align: center;
    margin-top: 67px;
    color: #F0EFEB;
}
.estate-redemption h2 {
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.estate-redemption p {
    font-size: 18px;
    opacity: 0.45;
    margin-top: 20px;
    margin-bottom: 70px;
    line-height: 30px;
}
.name-estate, .email-estate {
    width: 313px;
    height: 42px;
    border: 1px solid rgba(240, 239, 235, 0.12);
    background: none;
    font-family: "Open Sans Hebrew", sans-serif;
    font-size: 14px;
    padding-right: 17px;
    box-sizing: border-box;
    color: #F0EFEB;
}
.estate-name, .name-phone {
    width: 647px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.estate-name {
    margin-bottom: 23px;
}
.send {
    width: 313px;
    height: 42px;
    border: 1px solid #D8AC7A;
    background: none;
    color: #D8AC7A;
    font-family: "Open Sans Hebrew", sans-serif;
    font-size: 14px;
    cursor: pointer;
    opacity: 0.5;
}
.send:hover {
    opacity: 1;
}
input.name-estate:focus {
    border: 1px solid rgba(240, 239, 235, 0.45);
}
/*input.phone:focus {*/
/*    border: 1px solid rgba(240, 239, 235, 0.45);*/
/*}*/
input.email-estate:focus {
    border: 1px solid rgba(240, 239, 235, 0.45);
}
::-webkit-input-placeholder {
    color: rgba(240, 239, 235, 0.12);
}
::-moz-placeholder { /* Firefox 19+ */
    color: rgba(240, 239, 235, 0.12);
}
:-ms-input-placeholder {
    color: rgba(240, 239, 235, 0.12);
}
:-moz-placeholder { /* Firefox 18- */
    color: rgba(240, 239, 235, 0.12);
}
.phoneMenuItem {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.name-phone .dropdown {
    background-color: rgba(35, 52, 52, 1);
    z-index: 1;
    max-height: 95px;
    overflow-y: auto;
}
.dropdown::-webkit-scrollbar {
    width: 4px;
    background: white;
}
.dropdown::-webkit-scrollbar-thumb {
    background: rgba(216, 172, 122, 1)
}
.name-phone .dropdown li {
    display: block;
    opacity: 0.35;
    color: rgba(240, 239, 235, 0.45);
    cursor: pointer;
}
.name-phone .dropdown li:hover {
    opacity: 1;
    border-bottom: 2px solid #F0EFEB;
    font-size: 16px;
}
.name-phone .dropdown li:last-child {
    margin-bottom: 10px;
}
.border-input {
    border: 1px solid rgba(240, 239, 235, 0.12);
    display: flex;
    width: 313px;
    height: 40px;
    align-items: center;
}

.border-input .phone {
    border: none;
    background: none;
    font-size: 14px;
    color: white;
    margin-right: 20px;
    width: 110px;
    border-right: 1px solid white;
    padding-right: 20px;
}

.phone-number {
    right: 10px;
    position: relative;
}
.wrapper {
    position: relative;
    outline: none;
}

.wrapper:after {
    content: "";
    position: absolute;
    cursor: pointer;
}

.wrapper img {
    top: 10px;
    left: 15px;
    width: 17px;
    height: 17px;
    position: absolute;
    cursor: pointer;
}

.wrapper .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    list-style: none;
    opacity: 0;
    pointer-events: none;
    margin: 0;
    padding: 0 17px 0 17px;
    border: 1px solid rgba(240, 239, 235, 0.45);
    border-top: 0;
}

.wrapper .dropdown li a {
    display: block;
    padding: 10px 0 10px 0;
    opacity: 0.45;
    outline: none;
    color: #F0EFEB;
}

.dropdown li:last-child {
    margin-bottom: 10px;
}

.dropdown li a:hover {
    opacity: 1;
    border-bottom: 2px solid #F0EFEB;
    cursor: pointer;
}

.wrapper.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}

.rotate {
    transform: rotate(180deg);
    margin-top: 7px;
}
@media only screen and (max-width: 375px) {
    .redemption-estate {
        background-position-x: -395px;
        width: 375px;
    }
    .estate-redemption h2 {
        font-size: 18px;
        letter-spacing: 1px;
    }
    .estate-redemption p {
        width: 325px;
        margin: 32px auto 40px auto;
        font-size: 14px;
        line-height: 20px;
    }
    .estate-name, .name-phone {
        flex-direction: column;
        width: 313px;
        margin: 0 auto;
    }
    .email-estate {
        margin-top: 23px;
        margin-bottom: 23px;
    }
    .send {
        margin-top: 40px;
        opacity: 1;
    }
}
