html,body{
    margin: 0;
    padding: 0;
    font-family:"Open Sans Hebrew", sans-serif;
}
*, *::before, *::after {
    direction: rtl;
}
body{
    background-color: #233434;
}
input, button, textarea, select, option {
    outline: none;
}
button{
    background-color: transparent;
}
h1{
    color: #F0EFEB;
    margin: 0;
    padding: 0;
}
h2{
    padding: 0;
    margin: 0;
    color: #F0EFEB;
}
p{
    padding: 0;
    margin: 0;
    color: #F0EFEB;
}
ul,ol{
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: #D8AC7A;
}
@font-face {
    font-family: 'Open Sans Hebrew';
    src: url('fonts/OpenSansHebrew-Regular.eot');
    src: url('fonts/OpenSansHebrew-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/OpenSansHebrew-Regular.woff2') format('woff2'),
    url('fonts/OpenSansHebrew-Regular.woff') format('woff'),
    url('fonts/OpenSansHebrew-Regular.ttf') format('truetype');
url('OpenSansHebrew-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Hebrew';
    src: url('fonts/OpenSansHebrew-Bold.eot');
    src: url('fonts/OpenSansHebrew-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/OpenSansHebrew-Bold.woff2') format('woff2'),
    url('fonts/OpenSansHebrew-Bold.woff') format('woff'),
    url('fonts/OpenSansHebrew-Bold.ttf') format('truetype');
url('OpenSansHebrew-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
footer {
    height: 200px;
    background: #233434;
    color: #D8AC7A;
}
.footer {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-common {
    width: 1320px;
    margin: 0 auto;
}
.f-logo {
    width: 140px;
}
.footer-logo {
    width: 85px;
    height: 105px;
    transform: scale(-1,1);
}
.footer-inform {
    text-align: center;
    font-size: 14px;
}
.footer-inform a:first-child {
    border-right: 2px solid #D8AC7A;
}
.footer-inform a:last-child {
    border-left: 2px solid #D8AC7A;
}
.footer-inform-p1 {
    margin: 0;
}
.footer-inform-p2 {
    margin: 32px 0 0 0;
    color: #D8AC7A;
}
.footer-social {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    cursor: pointer;
    padding: 0;
    margin: 0 0 23px 0;
}
.footer-social img {
    width: 20px;
    height: 20px;
}
.footer-social {
    list-style-type: none;
    padding: 0;
}
.footer-phone {
    font-size: 14px;
    width: 20px;
    height: 20px;
}
.footer-mail {
    font-size: 14px;
    width: 22px;
    height: 17px;
}
.footer-phone-mail li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-phone-mail {
    padding: 0;
    margin: 0;
}
.footer-phone-mail img {
    margin-left: 20px;
}
.footer-phone-mail li:first-child {
    margin-bottom: 23px;
}
.common-footer {
    width: 100%;
    max-width: 855px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.phone-ltr {
    direction: ltr;
}
@media only screen and (max-width: 375px) {
    footer {
        height: 431px;
    }
    .footer {
        height: 431px;
        margin: auto;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .footer-common {
        width: 375px;
        margin: auto;
    }
    .common-footer {
        flex-direction: column-reverse;
        width: 375px;
    }
    .footer-inform {
        font-size: 12px;
    }
    .footer-contact {
        margin-bottom: 40px;
    }
    .f-logo {
        text-align: center;
    }
}
